.RootContainer {
	padding-top: 10vh;
	text-align: center;
}

.RootContainer > header {
	width: 60%;
	display: flex;
	background-color: #ffffff;
	margin: auto;
	align-items: center;
	padding: 1rem;
	margin-bottom: 2.5rem;
	/* justify-content: stretch; */
}

.RootContainer > header > div {
	/* margin: auto px; */
	width: 50%;
}

.RootContainer > header > div:first-of-type {
	border-right: 1px solid grey;
}

.RootContainer > header > div > svg,
.RootContainer > header > div > h2 {
	display: inline-block;
	margin: 0px 10px;
}

.RootContainer > header > div > h2 {
	font-weight: lighter;
}
